.button {
    width: 40%;
    height: 4%;
    border-radius: 3px;
    background-color: #FF7700;
    color: white;
    text-align: center;
    position: relative;
    margin-bottom: 15px;
    background-size: 200%;
    transition: 0.3s;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.5);
    border: none;
    cursor: pointer;
}

.button:hover {
    background-position: right;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.9);
}